<html>
    <head>
        <title>form</title>
       <link href="/stylesheet1.css" rel="stylesheet">
    </head>
    <body>
    <div class="container">
        <div>
            <h1>Add users</h1>
        </div>
        <form method="post" action="/user/add">
            <input type="text" name="names" placeholder="enter the name" value=""/>
            <input type="text" name="email" placeholder="enter the email" value=""/>
            <button type="submit">submit</button>
        </form>
    </div>

    </body>
</html>