body{
    background-color: aqua;
}
.container{
    border: 2px solid black;
    text-align: center;
    width: 50%;
}
.form{
    padding-left: 250px;
    display: flex;
    flex-direction: row;
}
.select{
    margin-right: 10px;
}
.btn{
    margin-top: 5px;
    text-align: center;
    width: 6%;
    
    background-color: black;
    
}
.btn , a{
    text-decoration: none;
    color: white;

}